.sidebar {
    color: #FFFF;
    position: fixed;
    width: 220px;
    white-space: nowrap;
    overflow: visible;
}

.box {
   width: 12; 
   collapsible: TRUE;
   display: yes;
}

.footer {
  position: fixed;
  overflow: visible;
}


.h3 {
  style: bold;
  padding: 0.2 em;
  background-colr: #94B8E9;
  border: 1px solid black;
}


.h5 {
  style: bold;
}


#code_box {
    border: 3px solid grey;
}
#unit {
    border: 4px double green;
}